<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.venkat.inventory_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".User.MainUser_BottomNav"
            android:label="@string/title_activity_main_user__bottom_nav"></activity>
        <activity android:name=".MainAdmin_BottomNav" />
        <activity android:name=".User.MainUSER" />
        <activity android:name=".Not_needed.Add_item" />
        <activity android:name=".Admin.MainADM" />
        <activity android:name=".Common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>